*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(131, 183, 204);
}

.grid{
  background: #bd6b8a;
  display: grid;
  grid-template-areas: "heade header"
                       "content sidebar"
                       "footer footer";
  grid-template-rows: 150px 80px 100px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 140px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}

.grid div{
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}