*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-horizontal{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 50px;
  margin-top: 13px;
}

.layout-vertical{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0;
  margin-top: 13px;
}
